.HomeComp5_Container {
    position: relative;
    padding: 80px 80px 0 80px;
}

.HomeComp5_Holder {
    position: relative;
    display: flex;
    flex-direction: column;
}

.HompComp5_Section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.HomeComp5_Box {
    padding-top: 30px;
}

.HomeComp5_Box_holder {
    display: flex;
    margin-bottom: 30px;
}

.Box_Image_Section {
    width: 100% !important;
    max-width: 60px;
    height: 60px;
    border: 2px solid #2b3991;
    margin-top: 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box_Image {
    width: 30px;
    height: 30px;
}

.Box_Content h3 {
    font-size: 18px;
    color: #f8931d;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.Box_Content p {
    font-size: 16px;
    color: #00000099;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 26px;
    text-align: justify;
}

@media (max-width:1024px) {
    .HomeComp5_Container {
        padding: 80px 20px 0 20px;
    }
}

@media (max-width:768px) {
    .HompComp5_Section {
        grid-template-columns: repeat(1, 1fr);
    }
}